<small><i>This notebook is based on the 2016 AAS Python Workshop tutorial on tables, available on [GitHub](https://github.com/spacetelescope/AAS2016), though it has been modified. Some was also borrowed from a notebook put together by [Jake Vanderplas](http://www.vanderplas.com) and has been modified to suit the purposes of this course, including expansion/modification of explanations and additional exercises. Source and license info for the original is on [GitHub](https://github.com/jakevdp/2014_fall_ASTR599/)</i></small>

### *** Names: [Insert Your Name Here]***

# Prelab 5 - Pandas

### Prelab 5 Contents
1. Pandas Basics
     * Intro to Pandas  
     * Pandas Dataframes  
     * Reading in Tabular Data with Pandas  
2. Working with DataFrames
    * DataFrame Methods  
    * The `describe()` method 
    * Computing Descriptive Statistics for DataFrame Columns  
    * Indexing DataFrames  
    * Making DataFrames  
    * Converting DataFrames to Numpy

In [ ]:
import numpy as np
import matplotlib.pyplot as plt
%matplotlib inline
import pandas as pd

# Pandas Basics

## 1.1 Intro to Pandas

The [Pandas](http://pandas.pydata.org/pandas-docs/stable/) package provides a powerful, high-performance table object via the [DataFrame](http://pandas.pydata.org/pandas-docs/stable/generated/pandas.DataFrame.html#pandas.DataFrame) class. If there are things that you want to do with tabular data, odds are that Pandas has some built-in functionality for it, and there are many resources available on-line.  A good starting point is the main tutorials site at http://pandas.pydata.org/pandas-docs/stable/tutorials.html.

## 1.2 Pandas Dataframes
Data frames, which are essentially Python tables, are defined like dictionaries with a column header/label (similar to a key for a python dictionary) and a list of entries.

In [ ]:
df = pd.DataFrame({'a': [10,20,30],
                   'b': [40,50,60]})

In [ ]:
df

think of DataFrames as numpy arrays plus some extra pointers to their columns and the indices of the row entries that make them amenable to display as tables.

In [ ]:
df.columns

In [ ]:
df.index

In [ ]:
#hit shift + tab tab in the cell below to read more about dataframe objects and operations
#Make sure to comment out the cell afterward so that your Prelab compiles.
df.

## 1.3 Reading in Tabular Data with Pandas
Pandas has built-in functions for reading all kinds of types of data. In the cell below, hit tab once after the r to see all of the read functions. You can download tabular data in almost any format and read it in with Pandas as long as you specify the right read function. Make sure to comment out the cell afterward so that your Prelab compiles.

In [ ]:
pd.r

Let's read in an excel spreadsheet with some asteroid data

In [ ]:
asteroids = pd.read_excel("asteroids5000.xlsx")
asteroids

In [ ]:
asteroids.columns

pandas dataframe columns can be called as python series using the syntax dataframe.columnlabel, as below, which is why it usually makes sense to define a column name/label that is short and has no spaces

In [ ]:
asteroids.ra

Note that Python decided that you didn't really want to see all 928 entries in the list and employed a ... to obscure the middle. If you really want to see all the entries in a table, column, etc, use a print statement with an asterisk before the object you want it to print. Uncomment the cell below and try it, but you will quickly see why this is not always a good idea, so comment it back out afterward.

In [ ]:
#print(*asteroids.ra)

# 2. Working with Pandas DataFrames

## 2.1 DataFrame Methods

There are a number of useful built-in methods for Pandas DataFrames, which can be called with the syntax dataframe.method. A few examples are below

In [ ]:
#this one counts how many occurrences there are in the table for each unique value in the ph_qual column
asteroids.ph_qual.value_counts()

In [ ]:
#prints the data types for all columns
asteroids.dtypes

In [ ]:
#hit tab after the . below to see a full list of available methods. so many!
#Again, make sure to comment out the cell afterward so that your Prelab compiles.
asteroids.

## 2.2 The `describe()` method

There are also a whole bunch of built in functions that can operate on a pandas dataframe that become available once you've defined it. To see a full list type data. in an empty frame and then hit tab. 

An especially useful one is dataframe.describe() method, which creates a summary table with some common statistics for all of the columns in the dataframe.

In [ ]:
asteroids.describe()

## 2.3 Computing Descriptive Statistics for DataFrame Columns

You can also of course compute descriptive statistics for columns in a pandas dataframe individually. Examples of each one applied to a single column - the object's J-H "color" (the difference between it's brightness at two IR wavelengths called J and H-bands) - are given below.

In [ ]:
np.mean(asteroids["j_h"])

In [ ]:
#or
asteroids["j_h"].mean()

In [ ]:
asteroids["j_h"].median()

In [ ]:
asteroids["j_h"].max()

In [ ]:
asteroids["j_h"].min()

In [ ]:
#to count all of the non-zero values
asteroids["j_h"].count()

In [ ]:
#Note the answer is different with len because len will count NaNs
len(asteroids["j_h"])

In [ ]:
#standard deviation
asteroids["j_h"].std()

In [ ]:
#variance
asteroids["j_h"].var()

In [ ]:
#quantiles
asteroids["j_h"].quantile(0.5) # should return the median!

In [ ]:
asteroids["j_h"].quantile(0.25)

In [ ]:
asteroids["j_h"].quantile(0.75)

In [ ]:
#Interquartile Range
asteroids["j_h"].quantile(0.75)-asteroids["j_h"].quantile(0.25)

In [ ]:
#skew
asteroids["j_h"].skew()

In [ ]:
#kurtosis
asteroids["j_h"].kurtosis()

some statistical methods are a bit more useful with categorical (or at least non-continuous) variables, so let's use a different column

In [ ]:
# the value_counts method will tell you how many times each value appears in the column
asteroids["ph_qual"].value_counts()

<div class=hw>
    
### Exercise 1
------------------

The Quantitative Reasoning for College Science (QuaRCS) assessment is an assessment instrument that Profssor Follette has been administering in general education science classes across the country since 2012. It consists of 25 quantitative questions involving "real world" mathematical skills plus 24 attitudinal and demographic questions. It has been administered to more than 5000 students at eleven institutions.

A description of all of the variables (pandas dataframe columns) in the QuaRCS dataset and what each numerical answer choice "stands for" is in the file variable_descriptions.pdf. 

(a) Code to read the data from the file AST200_data_anonymized.csv into a pandas dataframe and clean it up a little is in the cell below. Add a comment above each line describing what it's doing.     
(b) Choose one categorical and one continuous variable that seems interesting to you and compute all of the statistics from the list above ***in one code cell per variable*** (use print statements) for each variable.   
(c) Take a step back from the numbers themselves and consider the results of (b). Are there some statistics that are more appropriate or informative when describing a continuous variable? Make a data-driven argument (e.g. using specific examples from the results of (b)) regarding which statistics should be used when describing categorical and continuous variables and which should not be used.  
(d) Write a paragraph describing all of the statistics that are informative for your chosen variables in words. An example is given below for PRE_SCORE. Because score is numerical ***and*** discrete, all of the statistics above are informative. In your two cases, fewer statistics will be informative, so your explanations may be shorter, though you should challenge yourselves to go beyond merely reporting the statistcs, and should interpret them as well, as below.   
*QuaRCS score can take discrete integer values between 0 and 25. The minimum score for this dataset is 1 and the maximum is 25. There are 2,777 valid entries for score in this QuaRCS dataset, for which the mean is 13.9 and the median is 14 (both 56\% of the maximum score). These are very close together, suggesting a reasonably centrally-concentrated score distrubution, and the low skewness value of 0.1 supports this. The kurtosis of the distribution is negative (platykurtic), which tells us that the distribution of scores is flat rather than peaky.   The most common score ("mode") is 10, with 197 (~7%) of participants getting this score, however all score values from 7-21 have counts of greater than 100, supporting the flat nature of the distribution suggested by the negative kurtosis. The interquartile range (25-75 percentiles) is 8 points, and the standard deviation is 5.3. These represent a large fraction (20 and 32\%) of the entire available score range, respectively, making the distribution quite wide.*

In [ ]:
#add comments
data=pd.read_csv('AST200_data_anonymized.csv', encoding="ISO-8859-1")
mask = np.where(data == 999)
data = data.replace(999,np.nan)

In [ ]:
#your code computing all descriptive statistics for your categorical variable here

In [ ]:
#your code computing all descriptive statistics for your categorical variable here

*Your description of categorical distribution here*

*Your description of continuous distribution here*

## 2.4 Indexing DataFrames
To pull up individual rows or entries, the fact that pandas dataframes always print the indices of rows off of their lefthand side helps. You index dataframes with .loc (if using column name) or .iloc (if using column index), as below

In [ ]:
asteroids.loc[4,"ra"]

In [ ]:
asteroids.iloc[4,0] #same because column 0 is "ra"

you can always check that the column you're indexing is the one you want as below

In [ ]:
asteroids.columns[0]

In [ ]:
#and you can index multiple columns/rows in the usual way, which is useful if you want some subset of table rows/columns
asteroids.iloc[:10,:2]

You can do lots more with this as well, including logical operations to parse the table

In [ ]:
asteroids.columns
ast_new = asteroids[asteroids.dist < 500]
ast_new

Note that once again, Python employed the ... syntax to obscure some of the entries in the very large table. If you want to see everything, execute the following commands

In [ ]:
# these set the pandas defaults so that it will print ALL values, even for very long lists and large dataframes
pd.set_option('display.max_columns', None)
pd.set_option('display.max_rows', None)

## 2.5 Making DataFrames

One way to make a data frame from scratch is to just initialize it and then fill it in.

In [ ]:
t = pd.DataFrame()
t['name'] = ['Betelgeuse', 'Rigel', 'Sirius', 'Capella']
t['flux'] = [1.2, 2.2, 3.1, 4.3]
t

You can then do things like add rows

In [ ]:
t.loc[4] = ['Steve', 10.1]
t

And columns too

In [ ]:
t['logflux'] = np.log10(t['flux'])  # Compute the log10 of the flux
t

## 2.6 Converting Tables to Numpy

Sometimes you may not want or be able to use a `Table` object and prefer to work with a plain numpy array (like if you read in data and then want to manipulate it.  This is easily done by passing the table to the `np.array()` constructor.  

*This makes a copy of the data*.  If you have a huge table and don't want to waste memory, supply `copy=False` to the constructor, but be warned that changing the output numpy array will change the original table.

In [ ]:
np.array(t)

In [ ]:
np.array(t['flux'])

<div class=hw>
    
## Exercise 2 - Intro to the Exoplanet Database
--------------

Over the next month or so, several of our in-class labs (and your second project) will revolve around a single dataset - the [NASA Exoplanet Archive](https://exoplanetarchive.ipac.caltech.edu/). We will explore this dataset in great detail and apply many of the statistical principles that you have learned and will be learning to it. Today you will begin just by exploring it. At a minimum, you should complete each of the following, but it may behoove you to do a little more exploring as well. For each item in the list below, you should include one or more well-commented code cells and/or a markdown cell with explanations.  
    
a) Figure out how to read in the data in the file planets_030220.csv. (Hint: you will need to tell Pandas how many rows to skip before the real table begins) and display the table in the notebook.  
b) Find out basic information about the table and the types of entries in it, and write a 1 paragraph description of what the exoplanet archive is/contains based on these results.  
c) Compute descriptive statistics for at least two columns and describe them in the same way you did in exercise 1d above.   
d) Make at least two histograms or boxplots that you think might be informative and describe what they show in words.

In [1]:
from IPython.core.display import HTML
def css_styling():
    styles = open("../../custom.css", "r").read()
    return HTML(styles)
css_styling()